
.measurement-record{
  text-align: center;
  position: relative;
  }

/* .measurement-lists{
  width: calc(100vw - 15vw);
  display: flex;
  justify-content: center;
} */

/* tr{
  width: calc(100vw - 15vw);
  display: flex;
  justify-content: center;
} */

.measurement-lists{
  width: 33vh;
  padding: 1vw;
}

.measurement-article,.measurement-contents{
  width: calc(100vw - 15vw);
  display: flex;
  justify-content: center;
}

tr{
  font-size: 1.2vw;
}

th{
  margin-top: 2.5vh;
}

/* th, td{
  border: 1px #DCDCDC solid;
  padding: 10px;
}

table{
  border-collapse: collapse;
  border: 1px #DCDCDC solid;
} */

table th,td{
  padding: 3px 20px;
  border: solid 1px rgb(221, 221, 221);
}


table {
  border-collapse: collapse;
}