<div class="wrapper">
<div class="sidebar">
  <div class="sidebar-home">
    <%= link_to 'ホーム', root_path %>
  </div>
  <div class="sidebar-nav">
    <%= link_to '食事記録／服薬チェック', meal_records_path %>
  </div>
  <div class="sidebar-nav"> 
    <%= link_to '血糖値測定',  measurements_path %>
  </div>
  <div class="sidebar-nav">
    <%= link_to  'オプション', "#" %>
  </div>
</div>   