 <%= render partial:'sidebar' %>

<div class="main-record">
   
    <h2 class='service-explain'>
      いつものごはんを写真に撮って、記録にしよう
    </h2>

<div class='select-contents'>
    <p class='service-explain'>
      面倒な食事記録をつけなくても、毎日の食事を写真に撮って、
    </p>
    <p class='service-explain'>
      簡単に食生活を振り返ることができる
    </p>
      <p class='service-explain'>
      糖尿病患者さんのためのアプリです
    </p>

    <ul class="servce-lists">
      <li class="service-list-discription">
        食事の写真にコメントをつけて振り返る
  
      </li>




</div>

</div>