 <%= render partial:'sidebar' %>

<div class="main-content">
   
    <h1 class='service-thema'>
      いつものごはんを写真に撮って、記録にしよう
    </h2>

  <div class='service-contents'>
    <p class='service-explain'>
      面倒な食事記録をつけなくても、毎日の食事を写真に撮って
    </p>
    <p class='service-explain'>
      簡単に食生活を振り返ることができる
    </p>
      <p class='service-explain'>
      糖尿病患者さんのためのアプリです
    </p>

    <ul class="service-lists">
      <li class="service-list-discription">
      <%= image_tag 'meal.png', size: '80x80' ,class:"service-lists-image" %>
        食事の写真にコメントをつけて振り返る
      </li>
      <li class="service-list-discription">
      <%= image_tag 'medicine.png', size: '75x75' ,class:"service-lists-image" %>
        同時にお薬の飲み忘れがなかったかチェック
      </li>
      <li class="service-list-discription">
      <%= image_tag 'blood.png', size: '45x45' ,class:"service-lists-image" %>
        SMBGの記録がいつでもできる
      </li>

  </div>

</div>