

<div class="sidebar">
  <div class="sidebar_nav">
    <%= link_to '血糖値測定', new_measurement_path %>
   </div>
   <div class="sidebar_nav">
     <%= link_to '食事記録', meal_records_path %>
   </div>
   <div class="sidebar_nav">
     <%= link_to  '服薬', "#" %>
   </div>
</div>
