// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.main-content{
  margin-left: 5vw ;
  padding: 1.5rem 1rem;
}


.service-thema{
  color: #FF8856;
}

.service-explain{
  font-size: 2.5vh;
}
