// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.main-content{
  width: calc(100vw - 15vw);
  padding: 1.5rem 1rem;
  text-align: center;
}


.service-thema{
  color: #FF8856;
}

.service-contents{
  margin-top: 5rem;
}

.service-explain{
  font-size: 2.5vh;
  
}
.service-lists{
  margin-top: 2.5rem;
  height: 20rem;
  background-image: linear-gradient(45deg, #FFFF99 0%, #FF9872 100%);
  text-align: center;
}

.service-list-discription{
  display: block;
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  color: #444444;
  margin-top: 2rem;
  // text-align: center;
}

.service-lists-image{
  display: inline;
  vertical-align: middle;
}
