.heading{
  background: #A8DBA8;
  border-top: 8px solid #79BD9A;
  color: #555555;
  width: 100%;
  text-align: center;
}

.heading-image {
  display: inline;
  vertical-align: middle;
  padding-bottom: 15px;
}

.topbar{
  width: 60%;
  padding: 20px;
  float: left;
}

.lists-right {
  display: block
  list-style: none;
  text-align: right;
  border-bottom: 8px double #79BD9A;
  margin: auto;
}

li{
  list-style: none;
  display: inline-block; 
}


.nav-btn{
  margin: 7px 0 0 0;
  background-color: #FFFFBB ;
  text-align: center;
  font-size: 15px;
  border-radius: 6px;
  transition: 0.4s ease;
}
 
.nav-btn:hover{
  color:white;
  background-color:gold;
  font-weight :bold;
}

.wrapper {
  display: flex;
}

.sidebar {
  width: 15vw;
  box-sizing: border-box;
  border-right: 1px solid rgb(221, 221, 221);
  padding: 1.5rem 1rem;
  font-weight: 600;
  background: lightyellow;
  position: relative;
  align-items: baseline;
}

.sidebar-home>a{
  color: #FF4F50	;
  
}

.sidebar-home{
  margin-bottom: 30px;
}

.sidebar-nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
  /* padding: 14px; */
  border-bottom: 2px solid rgb(221, 221, 221);
}

a {
  color: #444444;
  text-decoration: none;
}

